<!DOCTYPE html>
<html>
  <head>
    <title>Twitter JSONP API example</title>
    <!-- JS -->
    <script src="scripts/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script> -->
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/app.js"></script>
    <!-- CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body ng-app="MyApp">
  	<div ng-controller="MyCtrl">
  		<input type="text" ng-model="searchTerm" placeholder="Search term">
  		<button ng-click="search()">Search</button>
  		<ul ng-repeat="tweet in searchResult.results">
  			<li>{{tweet.text}}</li>
  		</ul>
  		<!--
			This example will no longer work now that Twitter has required an API Key/"Basic Auth".  They strongly discourge using Search JSONP as it will expose your key.
  	     -->
  	</div>
  </body>
</html>